version: 2.1

orbs:
  heroku: circleci/heroku@2.0.0

workflows:
  simple_workflow:
    jobs:
      - heroku/push-docker-image:
          app-name: chinhow-su-devops
          pre-deploy:
            - setup_remote_docker